@import url(/styles/header.css);
@import url(styles/container_main.css);
@import url(/styles/container_dois.css);
@import url(/styles/container_tres.css);
@import url(/styles/container_quatro.css);
@import url(/styles/container_cinco.css);
@import url(/styles/client_testimonials.css);
@import url(/styles/gallery.css);
@import url(/styles/footer.css);


:root{
  --color-Soft-red: hsl(7, 99%, 70%);
  --color-black: #000000;
  --color-white:#FFFFFF;
  --color-gray:rgb(128, 126, 126);
  --color-gray-light:rgb(154, 153, 153);
  --color-Yellow: hsl(51, 100%, 49%);
  --color-Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --color-Dark-blue: hsl(198, 62%, 26%);
  --color-Dark-moderate-cyan: hsl(168, 34%, 41%);
  --color-text-footer: #428979;
  --color-text-title-footer: #2c7564;
  --color-bg-footer: #91d3c6;
  --color-bg-header:#3dbdff;
  --fonte-principal:"Barlow";
  --fonte-secundaria:"Fraunces";
}

body{
  font-size: 30px;
  font-family: var(--fonte-principal);
  font-weight: 400;
}