.rodape{
  background-color: var(--color-bg-footer);
  width: 100%;

}
.rodape__lista{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding-bottom: 1em;
}

.rodape__titulo{
  color: var(--color-text-title-footer);
  text-align: center;
  font-weight: 800;
  font-size: 32px;
  padding-top: 1em;
  margin-bottom: 2em;
}

.rodape__item{
  color: var(--color-text-footer);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  align-items: center;

}

.social{
  display: flex;
  padding: 2em 2em;
  justify-content: space-evenly;
  padding-bottom: 2em;
}